<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Share Your Text! - Text Board</title>
</head>
<article class="markdown-body">
<body>
<h1><code>Text Board {{ word }}</code></h1>
{% if stat %}
<br><br><a href="/about">查看详情与用法</a> │ <a href="/login">点此免费注册或登陆, 可使用更多功能</a><br><br>
{% else %}
<br><br><a href="/import">从网络导入</a> │ <a href="/about">查看详情与用法</a> │ <a href="/me">查看我的所有文本</a><br><br>
{% endif %}
<form method="post"><br><b><li>编辑区</b></li><br><br>
<textarea style="height: 200px;" class="k" required="" name="text" id="text" wrap="hard" autofocus placeholder="点此输入. 首行请输入后缀名, 如: txt"></textarea><br><br>
<center><br><input style="cursor:pointer" class="b" type="submit" value="写完了"></center></form><br>
</body>
<script>
    var textarea = document.querySelector('textarea');
    
    textarea.addEventListener('input', (e) => {
        textarea.style.height = '100px';
        textarea.style.height = e.target.scrollHeight + 'px';
    });
</script>
<br><center><hr><br><br><code>一个快速记录或分享纯文本, 且<b>无审核</b>的在线工具. 你的文本在此将<b>无加密</b>地储存在服务器端.</code><br><br><br><b>已注册用户: {{ user_num }}位 ‧ 已储存文本: {{ num }}个</b></center>
<footer><center><br><br><br><br><a href="/">首页</a> - <a href="/about">关于</a> - <a href="/me">我的</a> - <a href="/login">注册或登陆</a> - <a href="https://github.com/wzk0/textboard">源代码</a></center></footer>
</article>
</html>